@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'TT Commons';
    font-style: normal;
    font-display: swap;
    src: url(/public/fonts/tt_commons_regular.otf) format('opentype');
  }

  p {
    @apply leading-[1.195];
  }

  h1 {
    @apply text-5xl font-semibold leading-[1.195];
  }

  h2 {
    @apply text-4xl leading-[1.195];
  }

  h3 {
    @apply text-2xl leading-[1.195];
  }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
